@model BanDoDienTu_Nhom06_N03.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin khách hàng</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td class="text-dark font-weight-bold">@Model.MaKh</td>
                    </tr>
                    <tr>
                        <td>Tên khách hàng</td>
                        <td>@Model.TenKh</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>@Model.Sdtkh</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>@Model.DiaChiKh</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKh">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
